body{
	background-color: #61122f;
	color: #fff;
	font-family: 'Oxygen',sans-serif;
	font-size: 16px;

}
#nav-header{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;

}
#logo-img{
	background: url("../images/logo-img.png") no-repeat;
	width: 100px;
	height: 120px;
	margin: 10px; 
}

.navbar-brand{
	padding-top: 25px;

}

.navbar-brand h1{
	font-family: 'Lora',serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand p{
	font-style: italic;
	color: #941C59;
	margin-top: 15px;
	font-size: 1.5em;
	font-family: "Tangerine", serif;
}

.navbar-brand a:hover, 
.navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
	margin-right: 10px;
}

#nav-list a{
	color: #941C59;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}
/*#nav-list hr {
        width: 95%;
    }*/

#phone {
	margin-top: 5px;
}

#phone a 
{
	text-aign:right;
	padding-bottom:0;
}
#phone div {
	color: #557c3e;
	text-align: right;
	padding: 15px;
}
.navbar-header button.navbar-toggle, 
.navbar-header .icon-bar {
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -15px;
}


/*HEADER ENDS HERE*/

/*MAIN CONTENT*/

#about,
#hairstyles,
#location{
    background-color:#F6B319;
    border: 1px solid black;
    width: 100%;
    height: 700px;
    padding:5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: auto;
}

#about p,
#hairstyles p,
#location p{
    padding:15px;
}

.row{
	width=100%;
}

section {
	margin-top: 180px;
}

h3{
	color: #f6b319;
	text-align: center;
	font-family: 'lora', serif;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
}

}
/*MAIN CONTENT ENDS HERE*/
/***********************For LARGE DEVICES only*****************/

@media (min-width: 1200px)
{

}

/***********************For MEDIUM DEVICES only ***************/

@media (min-width: 992px) and (max-width: 1199px)
{
#logo-img{
	background: url(../images/logo-img.png);
	width: 75px;
	height: 80px;
	margin: 5px 5px 5px 0;
}
#nav-list{
	margin-top: 5px;
	margin-right: 5px;
}
}

/****************For SMALL DEVICES only *********************/

@media (min-width: 991px) and (max-width: 768px)
{
/*.navbar-brand h1{
	padding-top: 0;
	font-size: 3VW;
}

.navbar-brand p{
	text-transform: uppercase;
	margin-top:5px;
	font-size: 0.6em;
	font-weight: bold;
}
#nav-list{
	margin-top: 10px;
	margin-right: 5px;
}

#nav-list a{
	color: #941C59;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.2em;
}*/
}

/******************** For EXTRA SMALL DEVICES only **************/

@media (max-width: 767px)
{
.navbar-brand
{
	padding-top: 10px;
	height: 70px;
}
.navbar-brand h1{
	padding-top: 10px;
	font-size: 5VW;
}
.navbar-brand p{
	/*text-transform: uppercase;*/
	margin-top:12px;
	font-size: 1.2em;
	font-weight: bold;
}
#collapseable-nav a{
	font-size: 1.2em;
}
#collapseable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}

}